@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.SignUpBody{
    background-color: #f7f7f7;
    width: 100vw;
    height: 100vh;
}

