@import "../../Assets/Styles/theme.scss";
.order_container {
  width: 465.81px;
  height: 275.69px;
  background: $boxContainer;
  box-shadow: 0px 0px 12.2225px rgba(0, 0, 0, 0.051);
  border-radius: 10.8645px;
  .order_add {
    margin-top: 6px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10.9px;
    line-height: 16px;
    width: 184px;
    color: $lightBlack;
    flex-wrap: wrap;
  }
  .view_details {
    font-weight: 600;
    font-size: 16.2967px;
    line-height: 24px;
    text-decoration-line: underline;
    color: $primaryColor;
    cursor: pointer;
  }
}
