@import "../../Assets/Styles/theme.scss";

.shopping_text {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  color: $darkPurple;
  border-bottom: 2px solid rgba(238, 187, 204, 0.7);
  margin-bottom: 60px;
}
.shopping_cart_msg {
  margin: 60px 0px 56px 0px;
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $lightBlack;
  }
}
.shop_now {
  width: 400px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
