@import "../../Assets/Styles/theme.scss";

.order_status {
  width: 89.63px;
  height: 24.45px;
  padding: 0px 4px;
  border-radius: 14.2596px;
  display: flex;
  align-items: center;
  .status_icon {
    width: 19.01px;
    height: 19.01px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 4px;
  }
}
.bag_description {
  width: 466px;
  height: 209px;
  background: $boxContainer;
  box-shadow: 0px 0.776952px 3.10781px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
  img {
    width: 124.31px;
    height: 167.82px;
    object-fit: cover;
  }
  .qty_div {
    width: 65px;
    height: 31.08px;
    background: $orangeLighter;
    margin: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
    h6 {
      font-style: normal;
      font-weight: 400;
      font-size: 13.9851px;
      line-height: 21px;
      color: $lightBlack;
    }
    .select {
      background-color: transparent;
      border: none;
    }
  }
  h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 18.6468px;
    line-height: 28px;
    color: $lightBlack;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 13.9851px;
    line-height: 21px;
    color: $lightBlack;
    margin: 6.19px auto;
  }
  .bag_action {
    display: flex;
    justify-content: center;
    .remove_from_bag {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 31.08px;
      width: 124.31px;
      border-right: 0.776952px solid $lightBlack;
    }
    .wishlist_from_bag {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 323.21px;
      height: 31.08px;
    }
  }
}
.search_container_div {
  width: 933.59px;
  .search_title {
    font-style: normal;
    font-weight: 600;
    font-size: 34.4925px;
    line-height: 52px;
    color: $primaryColor;
  }
  .users_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
    .user_section {
      width: 128px;
      height: 148px;
      img {
        width: 128px;
        height: 111px;
        border-radius: 50%;
      }
      .user_name {
        width: 121px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.71px;
        line-height: 30px;
        color: $darkGray;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  .divider_box {
    border: 2px solid $gray !important;
  }
  .brand_container {
    display: flex;
    flex-wrap: wrap;
    .brand_box {
      width: 147.82px;
      height: 147.82px;
      filter: drop-shadow(0px 2.46375px 7.39124px rgba(0, 0, 0, 0.2));
      border-radius: 7.39124px;
      margin: 0px 71.45px 44.35px 0px;
    }
  }
  .search_product_div {
    display: flex;
    flex-wrap: wrap;
    .search_product {
      width: 273.25px;
      height: 379.5px;
      margin-right: 37px;
      .search_product_img {
        width: 100%;
        height: 295.65px;
      }
      .search_product_content {
        width: 218.35px;
        height: 74px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        .text-gray {
          color: $darkGray;
          font-style: normal;
          font-weight: 400;
          font-size: 24.6375px;
          line-height: 37px;
        }
        .search_product_name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  .search_category_div {
    margin: 2.4px 0px 40px;
    display: flex;
    .search_category {
      background: $lighterPurple;
      border-radius: 49.275px;
      padding: 5px 32px;
      margin-right: 14.23px;
      .search_category_name {
        font-style: normal;
        font-weight: 400;
        font-size: 24.6375px;
        line-height: 37px;
        color: $lightBlack;
      }
    }
  }
}
