@import "../../Assets/Styles/theme.scss";
.welcome_page_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  .welcome_text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    color: $darkPurple;
    margin-bottom: 30px;
  }
  span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-top: 36px;
  }
  .request_list {
    background: $lightBackground;
    width: 197px;
    height: 336px;
    border-radius: 4px;
    .image_container {
      padding: 0px 9px;
    }
    img {
      margin: auto;
      display: flex;
    }
    p {
      display: flex;
      justify-content: center;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $darkGray;
      margin: 6px auto 20px;
    }
    button {
      background: $primaryColor;
      text-transform: capitalize;
      width: 170.29px;
      height: 48px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      display: flex;
      margin: 11.35px auto 0px;
      align-items: center;
      color: $white;
    }
  }
}
.semi_text {
  width: 204px;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
}

.img_content {
  width: 240px;
  height: 56px;
  position: absolute;
  left: 216px;
  top: 159px;
  border: 2px solid $white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_all_button {
  margin: 35px 0px 6.6px;
  width: 211.74px;
  height: 42.35px;
  border: 1.05869px solid $lightBlack;
  border-radius: 5.29345px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0564px;
  line-height: 29px;
  color: $lightBlack;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner_container {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  img {
    height: 160px;
    width: 160px;
    object-fit: cover;
  }
}
.become_creator_container {
  width: 956px;
  height: 296px;
  background: $radientDivColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0px;
  .become_text {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: $darkPurple;
  }
  .become_button {
    width: 296px;
    height: 48px;
    background: $white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $darkPurple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px auto 0px;
  }
}
