@import "../../Assets/Styles/theme.scss";
.fillters {
  width: 267px;
  height: 860px;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 12px 6px;
  .fillters_heading {
    letter-spacing: 0.06em;
    display: flex;
  }
  .fillters_sub_category {
    margin: 12px 0px 10px 0px;
  }
}
