@import "../Assets/Styles/theme.scss";
.mt-12 {
  margin-top: 12px !important;
}
.logo_container {
  display: flex;
  align-items: center;
}

.or_signup_text {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $lightBlack;
}
.or_signup_text:before {
  content: "";
  display: block;
  width: 30%;
  height: 1.2px;
  background: #191970;
  left: 0;
  top: 50%;
  position: absolute;
}
.or_signup_text:after {
  content: "";
  display: block;
  width: 30%;
  height: 1.2px;
  background: #191970;
  right: 0;
  top: 50%;
  position: absolute;
}

.register_button {
  width: 229.25px;
  height: 50.81px;
  background: $secondPrimaryColor;
  border-radius: 5.3px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.1px;
  line-height: 29px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.semi-outlined-button {
  width: 229.25px;
  height: 48.81px;
  color: $lightBlack;
  border: 1px solid $lightBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.1045px;
  line-height: 29px;
  text-transform: inherit;
}

// login
.login_button {
  cursor: pointer;
  width: 229.25px;
  height: 48.81px;
  background: $secondPrimaryColor;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.login-div .uaxL4e-RbRzK {
  width: 280.2px;
  height: 54.91px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.login-div > div {
  height: 100% !important;
}

.login-div .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  width: 40.33px !important;
  height: 38.64px !important;
}

.login-div .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins";
}
.forgot_text {
  color: $primaryColor;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.term-checkbox .MuiSvgIcon-root {
  width: 36.8px;
  height: 36.8px;
  // border: 2.12273px solid $lightBlack;
}

// navbar

.nav_container {
  ::before {
    content: "";
    width: 376px;
    height: 0px;
    border: 2px solid $lightBlack;
    transform: rotate(90deg) !important;
  }
}

.container_div {
  margin-top: 8pc;
  // height: calc(100vh - 1pc);
}

// profile

.become_creator {
  background: $becomeRadientColor;
  width: 466px;
  height: 55.96px;
  border-radius: 9.5102px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: absolute;
  margin-top: 60px;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: $white;
  }
}
.field_label {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $lightBlack;
  margin-bottom: 6px;
}
.save_changes {
  width: 450px;
  height: 48px;
  background: $primaryColor;
  font-weight: 400;
  font-size: 27.98px;
  line-height: 42px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.follwer_user {
  width: calc(100% - 113.2px);
}
.unfollow_button {
  width: 130.74px;
  height: 41.42px;
  background: $primaryColor;
  border-radius: 3.9px;
  font-style: normal;
  font-weight: 500;
  font-size: 15.5333px;
  line-height: 23px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save_password {
  width: 466px;
  height: 48px;
  background: $thirdPrimaryColor;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 56px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

// wishlist

.description_container {
  box-shadow: 0px 0.775px 3.1px rgba(0, 0, 0, 0.25);
  .description_container_details {
    width: calc(100% - 124px);
    height: 90%;
  }
  .remove_wish {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 31px;
    cursor: pointer;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 13.95px;
      line-height: 21px;
    }
  }
}
