@import "../../Assets/Styles/theme.scss";
.creator_title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  color: $lightBlack;
  padding: 34px 27px 0px 27px;
}
.creator_text {
  padding: 56px 242px;
  span {
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}
.email_dialog_text {
  padding: 24px 221px 14px 221px;
  .email_text_content span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .resend_button {
    width: 309px;
    height: 37.08px;
    border: 0.7725px solid $lightBlack;
    margin: 24px auto;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $lightBlack;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .login_button_dialog {
    width: 400px;
    height: 48px;
    margin: auto;
    background-color: $primaryColor;
    span {
      height: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.dialog_follow_button {
  width: 101px !important;
  height: 32px;
  background: $primaryColor;
  border-radius: 3px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $white;
}

.comment_conatiner {
  width: 411.64px;
  background: $lightBackground;
  border-radius: 5.14819px;
  padding: 10.65px 0px 16.48px 9.36px;
  display: flex;
  margin-bottom: 8.33px;
  img {
    width: 42.1px;
    height: 42.1px;
    border-radius: 50px;
    margin-right: 15.6px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
.comment_conatiner_field {
  width: 465px;
  height: 72px;
  background: $lightBackground;
  border-radius: 5.14819px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 15px 9.3px 14.5px ;
  .comment_child_div {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user_img {
      width: 42.1px;
      height: 42.1px;
      border-radius: 50px;
      margin: 0px 14px 0px 9.3px;
    }
  }
}

.tag_container_model {
  width: 441px;
  height: 88px;
  background: $lightBackground;
  border-radius: 4px;
  display: flex;
  img {
    width: 64.4px;
    height: 64.4px;
    margin: 12px 8px;
  }
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px;
    .tag_text {
      display: flex;
      flex-direction: column;
    }
  }
  button {
    width: 101px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
  }
}
