@import "../../Assets/Styles/theme.scss";

.creator_container {
  width: 951.7px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .creator_moda_text {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: $primaryColor;
    transform: rotate(-90deg);
    position: absolute;
    top: 695px;
    left: -8%;
  }
  .creator_profile_image {
    position: absolute;
    top: 445px;
    left: 110px;
    display: flex;
    flex-direction: column;
    img {
      width: 232.63px;
      height: 232.63px;
      border-radius: 50%;
      object-fit: cover;
    }
    span {
      margin-top: 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      color: $lightBlack;
      text-align: center;
    }
  }
  .follow_button {
    position: absolute;
    top: 530px;
    right: 75px;
    button {
      width: 400px;
      height: 66px;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 54px;
      color: $white;
      text-transform: capitalize;
    }
    .follow_content {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 23px;
      span {
        font-style: normal;
        font-size: 34px;
        line-height: 51px;
        color: $lightBlack;
      }
    }
  }
  .creator_bio {
    width: 761px;
    padding-left: 30px;
    margin: auto;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 51px;
      color: $lightBlack;
      margin: 21.1px auto;
    }
    .social_icon {
      margin-bottom: 21px;
      img {
        width: 48.09px;
        height: 48.09px;
        margin-right: 15.3px;
      }
    }
  }
  .creator_tabs {
    display: flex;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 132.2px;
      cursor: pointer;
      img {
        width: 48px;
        height: 48px;
        margin-right: 21px;
      }
      span {
        font-style: normal;
        font-size: 36px;
        line-height: 54px;
      }
    }
  }
}
.store_image_content {
  position: absolute;
  top: 225px;
  left: 42%;
  cursor: pointer;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 42.322px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 37.0317px;
    line-height: 56px;
    color: $primaryColor;
  }
}
