$background: #F8F8F9;
$placeholder: #b5bac5;
$link: #49AEF8;
$white: #fff;
$secBtn:#404041;
$nav: #232426;
$green: #048639;
$red: red;
$lightGreen: #CCF8E2;
$lightGray: #E0E3E7;
$blue: #26a9e0;
$purple:#6a1b9a;
$blueLight: #26a9e066;
$lightBlue1:#e3f2fd;

$buttonBackground:#64A9A5;
$peach :#FCC7B7;
$peach1:#fbccbe;
$light-peach:#F6DACC;
$lightest-Blue:#F0F5F8;
$light-leave-green :#ADD8E6;
$light-pink:#f4cad6;
$dark-peach :#d35759;


$gray1: #030812;
$gray2: #131c2e;
$gray3: #263045;
$gray4: #374157;
$gray5: #465166;
$gray6: #555f74;
$gray7: #646e82;
$gray8: #737d8f;
$gray9: #848c9d;
$gray10: #939baa;
$gray11: #a4aab7;
$gray12: #b5bac5;
$gray13: #c6cad3;
$gray14: #d5d8df;
$gray15: #e0e3e7;
$gray16: #f4f5f8;
$gray17: #fafbfd;
$gray18: #222222;
$gray19: #555555;
$gridHeader: #EAEEF1;
$gridRow: #F7F9FC;
$gridBorder: #E4E4E5;


$gradientPinkToPurple: linear-gradient(to right, rgba(240, 107, 222, 0), rgb(247, 189, 244));