$white: #ffffff;
$headerHeight: 80px;
$primaryColor: #A585C1;
$secondPrimaryColor :#A484BD;
$thirdPrimaryColor:#C5AFDA;
$lighterPrimary:#eedcff;
$rounded: 50px;
$fontFamily: "Poppins";
$becomeRadientColor:radial-gradient(39.66% 257.5% at 87.04% 131.25%, #C5AFDA 0%, rgba(197, 175, 218, 0) 100%) , radial-gradient(29.47% 233.75% at 55.86% 110%, #EEBBCC 0%, rgba(238, 187, 204, 0) 100%), radial-gradient(76.54% 700.12% at -1.85% 0%, #A585C1 0%, rgba(165, 133, 193, 0) 100%);
$lightBackground:#F9F9F9;
$boxContainer:#f9f9f9;
$gray: #c4c4c4;
$darkGray:#A4A4A4;
$lightBlack:#3c3c3c;
$orangeLight:#FFBFB2;
$orangeDark: #FF7C61;
$redPrimary : #D83B3B;